:root {
  --primary-color: #003699;
  --dark-color: #333333;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}

#editJob,
#deleteJob {
  min-width: 100px;
  margin: 15px;
  padding: none !important;
  display: inline-block;
  background: rgb(16, 209, 9);
  border-radius: 25px;
}
#EditJobBtn button {
  width: 100px;
  margin: 15px;
}
#editTc,
#deleteTc {
  min-width: 100px;
  margin: 15px;
  padding: none !important;
  display: inline-block;
  background: rgb(16, 209, 9);
  border-radius: 25px;
}
#deleteTc {
  background-color: red;
}
#editJobCardReveal {
  background: rgb(16, 209, 9);
  border-radius: 25px;
}

#editJobCardReveal:hover {
  background: rgb(202, 215, 255);
}

#editJob:hover {
  background: rgb(202, 215, 255);
}

#deleteJob {
  background: red;
}

#deleteJob:hover {
  background: rgb(255, 171, 171);
}
.mb {
  margin-bottom: 0;
}
/* BADGES */
.badge {
  font-size: 0.8rem;
  padding: 0.2rem 0.7rem;
  text-align: center;
  margin: 0.3rem;
  background: var(--light-color);
  color: #333;
  border-radius: 5px;
}

.alert {
  padding: 0.7rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: var(--light-color);
  color: #333;
}
/* Alert Functions */
.btn-primary,
.bg-primary,
.badge-primary,
.alert-primary {
  background: var(--primary-color);
  color: #fff;
}

.btn-light,
.bg-light,
.badge-light,
.alert-light {
  background: var(--light-color);
  color: #333;
}

.btn-dark,
.bg-dark,
.badge-dark,
.alert-dark {
  background: var(--dark-color);
  color: #fff;
}

.btn-danger,
.bg-danger,
.badge-danger,
.alert-danger {
  background: var(--danger-color);
  color: #fff;
}

.btn-success,
.bg-success,
.badge-success,
.alert-success {
  background: var(--success-color);
  color: #fff;
}

.btn-white,
.bg-white,
.badge-white,
.alert-white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px;
}
@media only screen and (max-width: 600px) {
  #modal {
    width: 100%;
    left: 0;
  }
  .smallScreen {
    display: none;
  }
  .mb {
    margin-bottom: auto;
    padding: 10px;
  }
  .page-footer {
    padding: 0;
  }
  .heightSize {
    height: 80%;
  }
}
